.vscode/
venv
.venv
__pycache__/

myTest.metta
# simulated-annealing-algo/
todo
tree-helper-registration-test.metta
run_python_tests.py

# Ignore HTML and Prolog files
*.html
*.pl

# Ignore meTTa-utils
meTTa-utils